<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://toggl.com/Toggl-button" version="1.0.0" viewmodes="maximized">
    <tizen:application id="jMqhOtGUOj.Toggl" package="jMqhOtGUOj" required_version="2.3"/>
    <author href="https://do.linkedin.com/in/franmen-guillermo-de-los-santos-4773b120" email="franmen05@gmail.com">Guillermo De Los Santos</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Toggl</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>x
    </widget>
